{% extends 'base.html.twig' %}

{% block title %}Material index{% endblock %}

{% block body %}
    <h1>Material index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>BuyedAt</th>
                <th>Model</th>
                <th>Number</th>
                <th>Year1</th>
                <th>Year2</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for material in materials %}
            <tr>
                <td>{{ material.id }}</td>
                <td>{{ material.name }}</td>
                <td>{{ material.buyedAt ? material.buyedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ material.model }}</td>
                <td>{{ material.number }}</td>
                <td>{{ material.year1 ? 'Yes' : 'No' }}</td>
                <td>{{ material.year2 ? 'Yes' : 'No' }}</td>
                <td>{{ material.createdAt ? material.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('material_show', {'id': material.id}) }}">show</a>
                    <a href="{{ path('material_edit', {'id': material.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('material_new') }}">Create new</a>
{% endblock %}
