{% extends 'base.html.twig' %}

{% block title %}Tableau de bord Admin{% endblock %}

{% block body %}
    <style>
        thead th {
            border-top: none !important;
        }
    </style>

    {# Prêt en attente #}
    <div class="m-5 card" >
        <div class="card-header">
            <div class="h-100 w-100 d-flex align-items-center justify-content-between">
                <h4 class="font-weight-bold text-danger">Demandes en attente</h4>
            </div>
        </div>
        <div class="card-body" style="max-height: 21em; overflow-y: auto">
            <table class="table">
                <thead style="border-top: none">
                    <tr>
                        <th>Demande de</th>
                        <th>Fait le</th>
                        <th>Date de départ</th>
                        <th>Date de retour</th>
                        <th>Matériels</th>
                        <th>Statut</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for loan in loansAttente %}
                    <tr>
                        <td>{{ loan.user.firstName }} {{ loan.user.lastName }}</td>
                        <td>{{ loan.createdAt|date("d/m/Y") }}</td>
                        <td>{{ loan.leavingDate|date("d/m/Y") }}</td>
                        <td>{{ loan.returnDate|date("d/m/Y") }}</td>
                        <td>
                            <ul>
                            {% for material in loan.materials %}
                                <li><small class="font-weight-bold">{{material.name}}</small></li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>{{ loan.statut }}</td>
                        <td>
                            <a href="{{ path('loan', {'id': loan.id }) }}"><img src="{{ asset('/Images/eye_black_18dp.png') }}" alt="info" width="25"></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Il n'y a aucune demande en attente</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {# Prêt à finaliser #}
    <div class="m-5 card" >
        <div class="card-header">
            <div class="h-100 w-100 d-flex align-items-center justify-content-between">
                <h4 class="font-weight-bold text-danger">Demandes à finaliser</h4>
            </div>
        </div>
        <div class="card-body" style="max-height: 21em; overflow-y: auto">
            <table class="table">
                <thead style="border-top: none">
                <tr>
                    <th>Demande de</th>
                    <th>Fait le</th>
                    <th>Date de départ</th>
                    <th>Date de retour</th>
                    <th>Matériels</th>
                    <th>Statut</th>
                </tr>
                </thead>
                <tbody>
                {% for loan in loansFinaliser %}
                    <tr>
                        <td>{{ loan.user.firstName }} {{ loan.user.lastName }}</td>
                        <td>{{ loan.createdAt|date("d/m/Y") }}</td>
                        <td>{{ loan.leavingDate|date("d/m/Y") }}</td>
                        <td>{{ loan.returnDate|date("d/m/Y") }}</td>
                        <td>
                            <ul>
                                {% for material in loan.materials %}
                                    <li><small class="font-weight-bold">{{material.name}}</small></li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ loan.statut }}</td>
                        <td>
                            <a href="{{ path('loan', {'id': loan.id }) }}"><img src="{{ asset('/Images/eye_black_18dp.png') }}" alt="info" width="25"></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Il n'y a aucune demande à finaliser</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {# Prêt traitées #}
    <div class="m-5 card" >
        <div class="card-header">
            <div class="h-100 w-100 d-flex align-items-center justify-content-between">
                <h4 class="font-weight-bold text-danger">Demandes traitées</h4>
            </div>
        </div>
        <div class="card-body" style="max-height: 21em; overflow-y: auto">
            <table class="table">
                <thead style="border-top: none">
                <tr>
                    <th>Demande de</th>
                    <th>Fait le</th>
                    <th>Date de départ</th>
                    <th>Date de retour</th>
                    <th>Matériels</th>
                    <th>Statut</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for loan in loansTraitees %}
                    <tr>
                        <td>{{ loan.user.firstName }} {{ loan.user.lastName }}</td>
                        <td>{{ loan.createdAt|date("d/m/Y") }}</td>
                        <td>{{ loan.leavingDate|date("d/m/Y") }}</td>
                        <td>{{ loan.returnDate|date("d/m/Y") }}</td>
                        <td>
                            <ul>
                                {% for material in loan.materials %}
                                    <li><small class="font-weight-bold">{{material.name}}</small></li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ loan.statut }}</td>
                        <td>
                            <a href="{{ path('loan', {'id': loan.id }) }}"><img src="{{ asset('/Images/eye_black_18dp.png') }}" alt="info" width="25"></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Il n'y a aucune demande traitées</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {# Prêt refusées #}
    <div class="m-5 card" >
        <div class="card-header">
            <div class="h-100 w-100 d-flex align-items-center justify-content-between">
                <h4 class="font-weight-bold text-danger">Demandes refusées</h4>
            </div>
        </div>
        <div class="card-body" style="max-height: 21em; overflow-y: auto">
            <table class="table">
                <thead style="border-top: none">
                <tr>
                    <th>Demande de</th>
                    <th>Fait le</th>
                    <th>Date de départ</th>
                    <th>Date de retour</th>
                    <th>Matériels</th>
                    <th>Statut</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for loan in loansRefusees %}
                    <tr>
                        <td>{{ loan.user.firstName }} {{ loan.user.lastName }}</td>
                        <td>{{ loan.createdAt|date("d/m/Y") }}</td>
                        <td>{{ loan.leavingDate|date("d/m/Y") }}</td>
                        <td>{{ loan.returnDate|date("d/m/Y") }}</td>
                        <td>
                            <ul>
                                {% for material in loan.materials %}
                                    <li><small class="font-weight-bold">{{material.name}}</small></li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ loan.statut }}</td>
                        <td>
                            <a href="{{ path('loan', {'id': loan.id }) }}"><img src="{{ asset('/Images/eye_black_18dp.png') }}" alt="info" width="25"></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Il n'y a aucune demande refusées</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
